<template>
  <div id="app">

    <Home v-for="item in items" v-bind="items" v-bind:key="item.id"/>
    <Observer v-on:intersect="intersected"/>
  </div>
</template>
<script>
export default {
  name: "App",
  components: {
    Home,
    Observer
  },
  data() {
    return {
      items: [],
      page: 1
    };
  },
  methods: {
    async intersected() {
      const res = await fetch(
        `https://jsonplaceholder.typicode.com/comments?_page=${this.page++}`
      );
      const items = await res.json();

      this.items = [...this.items, ...items];
    }
  }
};
</script>



<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
