<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- import CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />

    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>fakenews</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </body>
</html>
