<template>
  <section class="section center">
    <div class="container">
      <div class="row">
        <div class="hacker-news-list">
  <div class="hacker-news-header">
    <a target="_blank" href="http://www.ycombinator.com/">
      <img src="https://news.ycombinator.com/y18.gif">
    </a>
    <span>Hacker News</span>
  </div>
  <div class="hacker-news-item" v-for="(item, key) in list">
    <span class="num" v-text="key + 1"></span>
    <p>
      <a target="_blank" :href="item.url" v-text="item.title"></a>
    </p>
    <p>
      <small>
        <span v-text="item.points"></span>
        points by
        <a target="_blank" :href="'https://news.ycombinator.com/user?id=' + item.author"
           v-text="item.author"></a>
        |
        <a target="_blank" :href="'https://news.ycombinator.com/item?id=' + item.objectID"
           v-text="item.num_comments + ' comments'"></a>
      </small>
    </p>
  </div>
  <infinite-loading @infinite="infiniteHandler">
    <span slot="no-more">
      There is no more Hacker News :(
    </span>
  </infinite-loading>
</div>
<!--         
        <div
          class="col s12 rounded-card-panel margin-8 z-depth-1 relative"

        >
          <div class="card-content teal-text">
            <span class="card-title"></span>
            <p>{{item.body}}</p>
          </div>
          <div class="card-action">
            <a target="_blank" href="#">This is a link</a>
            <br>
            <a target="_blank" href="#">This is a link</a>
          </div>
          <infinite-loading @infinite="infiniteHandler">
            <span slot="no-more">There is no more Hacker News :(</span>
          </infinite-loading>
        </div>
      </div> -->
    </div>
  </section>
</template>

<script>
const api = 'http://hn.algolia.com/api/v1/search_by_date?tags=story';

export default {
  data() {
    return {
      list: [],
    };
  },
  methods: {
    infiniteHandler($state) {
      axios.get(api, {
        params: {
          page: this.list.length / 20 + 1,
        },
      }).then(({ data }) => {
        if (data.hits.length) {
          this.list = this.list.concat(data.hits);
          $state.loaded();
          if (this.list.length / 20 === 10) {
            $state.complete();
          }
        } else {
          $state.complete();
        }
      });
    },
  },
  components: {
    InfiniteLoading,
  },

};
</script>
<style>
.relative {
  position: relative;
}
.margin-8 {
  margin: 8px;
}
.panel {
  border-radius: 8px;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.rounded-card-panel {
  border-radius: 8px;
}
</style>

