<template>
  <section class="section center">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card medium blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>
                I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.
              </p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <br>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "home",
  components: {
    HelloWorld
  }
};
</script>
