<template>
  <section class="section center">
    <div class="container">
      <div class="row">
        <div class="col s12 rounded-card-panel margin-8 z-depth-1 relative">
          <div class="card-content">
            <span class="card-title">Card Title</span>
            <p>
              I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
            </p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <br>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "home",
  components: {
    HelloWorld
  }
};
</script>
<style>
.relative {
  position: relative;
}
.margin-8 {
  margin: 8px;
}
.panel {
  border-radius: 8px;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
</style>

