<template>
  <section class="section center">
    <div class="container">
      <div class="row">
        <div
          class="col s12 rounded-card-panel margin-8 z-depth-1 relative"
          v-for="(item, key) in list"
          :key="key"
        >
          <div class="card-content teal-text">
            <span class="card-title">{{item.name}}</span>
            <p>{{item.body}}</p>
          </div>
          <div class="card-action">
            <a target="_blank" href="#">This is a link</a>
            <br>
            <a target="_blank" href="#">This is a link</a>
          </div>
          <infinite-loading @infinite="infiniteHandler">
            <span slot="no-more">There is no more Hacker News :(</span>
          </infinite-loading>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import InfiniteLoading from "vue-infinite-loading";
import axios from "axios";

const api = "https://jsonplaceholder.typicode.com/comments";

export default {
  data() {
    return {
      list: []
    };
  },
  methods: {
    infiniteHandler($state) {
      axios
        .get(api, {
          params: {
            page: this.list.length / 20 + 1
          }
        })
        .then(({ data }) => {
          if (data.length) {
            this.list = this.list.concat(data);
            $state.loaded();
            if (this.list.length / 20 === 10) {
              $state.complete();
            }
          } else {
            $state.complete();
          }
        });
    }
  },
  components: {
    InfiniteLoading
  }
};
</script>
<style>
.relative {
  position: relative;
}
.margin-8 {
  margin: 8px;
}
.panel {
  border-radius: 8px;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.rounded-card-panel {
  border-radius: 8px;
}
</style>

