<template>
  <section class="section center">
    <div class="container">
      <div class="row">
        <div class="list">
          <div class="header">
            <a target="_blank" href>
              <img src="">
            </a>
            <span>Fake News</span>
          </div>
          <div
            class="col s12 rounded-card-panel margin-8 z-depth-1 relative"
            v-for="(item, key) in list"
            :key="key"
          >
            <span class="left"> <b>{{tweet_object.user.name}}</b> @{{tweet_object.user.screen_name}}. {{tweet_object.created_at}}</span>
            <div class="card-content teal-text">
              <span class="card-title">{{item.tweet_object.full_text}}</span>
            </div>
            <div class="card-action">
              <a target="_blank" href="#">This is a link</a>
              <a target="_blank" href="#">This is a link</a>
            </div>
          </div>
          <infinite-loading @infinite="infiniteHandler">
            <span slot="no-more">There is no more News :(</span>
          </infinite-loading>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import InfiniteLoading from "vue-infinite-loading";
import axios from "axios";
const api = "http://13.233.155.214/serve/serve/";
//http://13.233.155.214/serve/serve/?format=json&limit=10&offset=0

export default {
  data() {
    return {
      list: [],
      offset: 0,
      formats: "json",
      offsets: 0
    };
  },
  methods: {
    infiniteHandler($state) {
      axios
        .get(api, {
          params: {
            format: this.formats,
            limit: 10,
            offset: this.offsets
          }
        })
        .then(({ data }) => {
          if (data.results.length) {
            this.list = this.list.concat(data.results);
            $state.loaded();
            if (this.list.length / 10 === 5) {
              $state.complete();
            }
          } else {
            $state.complete();
          }
        });
      this.offsets += 10;
    }
  },
  components: {
    InfiniteLoading
  }
};
</script>

<style>
.relative {
  position: relative;
}
.margin-8 {
  margin: 8px;
}
.panel {
  border-radius: 8px;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.rounded-card-panel {
  border-radius: 8px;
}
</style>

