<template>
  <section class="section center">
    <div class="container">
      <div class="row">
        <div class="col s12 rounded-card-panel margin-8 z-depth-1 relative" >
          <!-- <div class="card small blue-grey darken-1"> -->
            <div class="card-content teal-text">
              <span class="card-title">{{name}}</span>
              <p>
                {{body}}
              </p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <br>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </section>
</template>

<script>
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "home",
  components: {
    HelloWorld
  },
  props:{
    postId:Number,
    id:Number,
    name:String,
    email:String,
    body:String,
  }
};
</script>
<style>
.relative{
  position: relative;
}
.margin-8{
  margin: 8px;
}
.panel{
  border-radius: 8px;
}
.z-depth-1{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.rounded-card-panel {
  border-radius: 8px;
}
</style>

